:root{
  --darkColor:  #333;
  --lightColor: white;
}
#infoCard, #gameArea, #scoreArea{
    background-color: var(--darkColor);
    color: var(--lightColor);
    padding: 2vh;
}

#infoCard{
    display: flex;
    justify-content: space-between;
}

#questionArea{
    border: 1px solid var(--lightColor);
    margin-bottom: 25px;
    text-align: center;
}

.answerButton{
    display: flex;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 1s;
    border-color: white;
    font-size: large;
    color: var(--darkColor);
    text-align: center;
    margin-bottom: 15px; 
}

#scoreArea{
    text-align: center;
}

#scoresTable{
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}

th{ 
    text-decoration: underline;
    padding: 2vw
}

td{
    border: 1px solid var(--lightColor);
}

@media (max-width: 1200px){
    #infoCard{
       flex-direction: column;
       align-items: center;   
    }
}